/* start post */

.post__item {
  display: flex;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid silver;
}

.post__img {
  flex: 1 1 15%;
}

.post__avatar {
  border-radius: 5px;
}

.post__content {
  flex: 1 1 85%;
  margin-left: 20px;
}

.post__title {
  display: flex;
  justify-content: space-between;
}

.post__name {
  font-weight: 700;
  margin-bottom: 5px;
}


/* end post */