/* start aside */

.aside {
  background: #8e44ad;
}

.main-header {
  margin: 20px;
}

.main-header__item {
  list-style-type: none;
}

.main-header__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 5px;
}

.active {
  color: #f1c40f;
}


/* end aside */