/* start aside */

.aside {
  background: #8e44ad;
}

.main-header {
  margin: 20px;
}

.main-header__link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 5px;
}


/* end aside */