/* start myProfile */

.my-profile {
  display: flex;
}

.my-profile__img {
  width: 30%;
  max-width: 275px;
  object-fit: cover;
}

.my-profile__desc {
  width: 70%;
  margin: 20px;
}

.my-profile__title {
  font-size: 1.4em;
  margin-bottom: 20px;
}


/* end myProfile */