/* start basic */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: grid;
  grid-template-areas: "h h h" "a c c" "f f f";
  grid-template-rows: 5vh 1fr 15vh;
  grid-template-columns: 2fr 10fr;
  min-height: 100vh
}

.header {
  grid-area: h;
}

.aside {
  grid-area: a;
}

.content {
  grid-area: c;
}

.footer {
  grid-area: f;
}

.active {
  color: #f1c40f;
  font-size: 1.1em;
  font-weight: 700;
}


/* end basic */