/* start basic */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-areas: "h h h" "a c c" "f f f";
  grid-template-rows: 5vh 80vh 15vh;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
}

.aside {
  grid-area: a;
}

.content {
  grid-area: c;
}

.footer {
  grid-area: f;
}


/* end basic */